<my-content placeholder="main">
  <div class="centrado">
    <div id="div_noticias" class="row">
      <div class="col-md-8">
        <a [routerLink]="['/news']" class="tornar">برگشت به لیست خبر ها</a>
        <div class="ficha-noticia">
          <div class="informacion">
            <p class="fecha">{{newsModel.newsPersianDate}}</p>

            <h2>{{newsModel.title}}</h2>
            <img src="../../assets/img/blog/{{newsModel.newsImage}}" alt="{{newsModel.title}}">
            <br />
            <div style="font-size:14px;" class="text-justify">

              {{newsModel.description}}


            </div>
          </div>
        </div>
      </div>
      <DIV class=col-md-4>
        <app-latestnews [newsList]="NewsTopList"></app-latestnews>

      </DIV>
    </div>
    <!--end div_noticias-->
  </div>
</my-content>
