<my-content placeholder="main">
  <div class="card" dir="rtl" style="text-align: right;padding: 10px;">
    <div class="card-header" id="headingOne">
      <h3 class="mb-0">

        {{newsModel.title}}

      </h3>
    </div>


    <div class="card-body">

      <div class="row">
        <div class=col-sm-3>
          <app-latestnews [newsList]="NewsTopList"></app-latestnews>

        </div>
        <div class="col-sm-9">
<div class="row justify-content-center align-items-center">{{newsModel.newsPersianDate}}</div>
          <div class="row justify-content-center align-items-center">
           
            
            <h2>{{newsModel.title}}</h2>

            <img class="img-fluid rounded" src="../../assets/img/blog/{{newsModel.newsImage}}"
              alt="{{newsModel.title}}">

            <br />


            {{newsModel.description}}



          </div>

        </div>

      </div>

    </div>
  </div>
</my-content>