@font-face {
	font-family: irsans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IranSans/IRANSansWeb_Bold.eot');
	src: url('../fonts/IranSans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IranSans/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/IranSans/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IranSans/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
	font-family: irsans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IranSans/IRANSansWeb.eot');
	src: url('../fonts/IranSans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IranSans/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/IranSans/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IranSans/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IranYekan/iranyekanwebbold.eot');
    src: url('../fonts/IranYekan/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranYekan/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranYekan/iranyekanwebregular.eot');
    src: url('../fonts/IranYekan/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranYekan/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Fontawesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/Fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), /* IE6-8 */
        url('../fonts/Fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('../fonts/Fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('../fonts/Fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('../fonts/Fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');

}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/Fontawesome/glyphicons-halflings-regular.eot');
  src: url('../fonts/Fontawesome/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Fontawesome/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/Fontawesome/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/Fontawesome/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
