<my-content placeholder="main">
  <br />
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-sm-12">
        <img
          class="img-responsive img-rounded"
          style="margin: auto;"
          src="../../assets/img/about.jpg"
          title="درباره ما"
        />
      </div>
    </div>
  </div>
  <br />
  <DIV class="centrado">
    <h1 class="text-center">
      معرفی شرکت
    </h1>
    <p>
      گروه "نوین روشنا یوتاب" پس از سالها تجربه اندوزی در حوزه‌های مشاوره،
      طراحی، تولید و اجرای پروژه های روشنایی و نورپردازی و آبنماهای متحرک و
      موزیکال و همچنین محوطه سازی شهری، ویلایی و فضای سبز، به عنوان یک شرکت
      مهندسی توانسته است رضایت کارفرمایان و مشتریان خود را به نحو احسن جلب نموده
      و در راستای ارتقای سطح کیفی این صنعت در ایران گام بردارد.
    </p>
    <br />
    <p>
      توجه ویژه به طراحی و به کارگیری روش های کارآمد، تحقق عملکرد کامل و دقیق،
      انجام تعهدات در زمانبندی مورد توافق و پیشگیری از تحمیل هزینه های اضافه به
      کارفرما از اصول اولیه این شرکت در جلب رضایت و اعتماد مشتری است.
    </p>
    <br />
    <p>
      برخی از خدمات طراحی، تأمین تجهیزات و اجرای این شرکت عبارتند از:
    </p>
    <br />
    <ul>
      <li>
        ارائه خدمات نورپردازی و روشنایی
      </li>
      <li>
        ارائه خدمات نورپردازی نمای کلیه اماکن اعم از تاریخی، مدرن، کلاسیک، با
        درک معماری بنا و ملاحظات اجرایی
      </li>
      <li>
        ارائه خدمات مربوط به محوطه های شهری، ویلایی و فضای سبز، با درک معماری
        محوطه و مهندسی روشنایی
      </li>
      <li>
        ارائه خدمات آبنماهای ثابت و متحرک
      </li>
      <li>
        ارائه خدمات نورپردازی نمای مجتمع های تجاری، هتل ها و تالار های شهری با
        درک معماری و اجرای طرح های لوکس، با کمک مدرن ترین سیستم های هوشمند و
        قابل برنامه ریزی
      </li>
      <li>
        روشنایی کلیه مسیرهای دسترسی شامل تونل‌ها، مسیرهای پیاده و سواره شهری و
        بزرگراهی و پل های روگذر و زیرگذر
      </li>
    </ul>
    <br />
    <p>
      در ادامه برخی از خدمات طراحی، تأمین تجهیزات و اجرایی شرکت نوین روشنا یوتاب
      آمده است:
    </p>
    <br />
    <ul>
      <li>
        طراحی، تأمین تجهیزات و اجرای پروژه نورپردازی زیرگذر بزرگراه یادگار امام
        (تهران) – بزرگترین پروژه نورپردازی تونل های شهری در سال 1396
      </li>
      <li>اورهال و راه اندازی تجهیزات نورپردازی اکتیو برج آزادی (تهران)</li>
      <li>تأمین تجهیزات و اجرای نورپردازی سر درب تاریخی آگاهی شاپور (تهران)</li>
      <li>تأمین تجهیزات و اجرای روشنایی و نورپردازی موزه هفت چنار (تهران)</li>
      <li>تأمین تجهیزات و اجرای نورپردازی ساختمان سیلو (تهران)</li>
      <li>تأمین تجهیزات و اجرای نورپردازی میدان فردوسی (تهران)</li>
      <li>
        تأمین تجهیزات و اجرای روشنایی و نورپردازی خانه تاریخی مهربان (تهران)
      </li>
      <li>اورهال و راه اندازی تجهیزات نورپردازی درختان بلوار کشاورز (تهران)</li>
      <li>تأمین تجهیزات نورپردازی کارخانه آرگو (تهران)</li>
      <li>
        طراحی، تأمین تجهیزات و اجرای نورپردازی پروژه نمای مجتمع تجاری اداری
        فرهاد (تهران-ملاصدرا)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای روشنایی داخلی پروژه مجتمع تجاری اداری فرهاد
        (تهران-ملاصدرا)
      </li>
      <li>تأمین تجهیزات و اجرای نورپردازی سردر پارک هرندی (تهران)</li>
      <li>
        تأمین تجهیزات و اجرای نورپردازی استودیوی پخش زنده شبکه آیو اسپرت (تهران)
      </li>
      <li>
        تأمین تجهیزات و اجرای پروژه نورپردازی ساختمان مرکزی بانک ملی ایران
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای پروژه نورپردازی حمام باستانی قاضی (اصفهان)
      </li>
      <li>تأمین تجهیزات پروژه آبنمای میدان شهرداری اردبیل</li>
      <li>تأمین تجهیزات و اجرای آبنمای بوستان گفتگو (تهران)</li>
      <li>تأمین تجهیزات و اجرای نورپردازی درختان بلوار معلم (اردبیل)</li>
      <li>تأمین تجهیزات و اجرای پروژه نورپردازی بازار چوب ایران (تهران)</li>
      <li>
        تأمین تجهیزات و اجرای پروژه نورپردازی زیرگذر میدان بسیج (خرم آباد)
      </li>
      <li>تأمین تجهیزات و اجرای پروژه نورپردازی زیرگذر شقایق (خرم آباد)</li>
      <li>
        تأمین تجهیزات و اجرای پروژه نورپردازی زیرگذر میدان 22بهمن (خرم آباد)
      </li>
      <li>تأمین تجهیزات و اجرای پروژه نورپردازی زیرگذر شهدا (خرم آباد)</li>
      <li>
        تأمین تجهیزات و اجرای پروژه نورپردازی زیرگذر دارائی زاده (خرم آباد)
      </li>
      <li>تأمین تجهیزات و اجرای پروژه نورپردازی زیرگذر کمالوند (خرم آباد)</li>
      <li>
        طراحی، تأمین تجهیزات و اجرای نورپردازی داخلی و روشنایی محوطه مجموعه
        تالارهای شهر آفتاب، یاس و باغ چوبی (تهران)
      </li>
      <li>تأمین تجهیزات و اجرای نورپردازی برج کلاسیک (تهران- شهرک غرب)</li>
      <li>اجرای پروژه روشنایی محوطه ی ورودی ایستگاه راه آهن (تهران)</li>
      <li>
        طراحی، تأمین تجهیزات پروژه های نورپردازی مجموعه های نگین شهر (تهران)
      </li>
      <li>مشاوره نورپردازی مرکز خرید شهرکودک شاپرک (تهران)</li>
      <li>مشاوره و طراحی نورپردازی مجموعه پل های کاروانسرا سنگی1 (تهران)</li>
      <li>مشاوره و طراحی نورپردازی مجموعه پل های کاروانسرا سنگی2 (تهران)</li>
      <li>مشاوره و طراحی نورپردازی درختان میدان آزادی (تهران)</li>
      <li>طراحی نورپردازی نمای مجتمع تجاری اداری تیتان سنتر (تهران)</li>
      <li>مشاوره و طراحی نورپردازی سردر ورودی بیمارستان سینا (تهران)</li>
      <li>
        مشاوره و طراحی نورپردازی دیواره حجاج فرودگاه مهرآباد و اتوبان آیت الله
        سعیدی (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای نورپردازی نمای ساختمان مرکزی بانک آینده
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای نورپردازی نمای پروژه 68 واحدی تعاونی مسکن
        روزنامه همشهری (تهران)
      </li>
      <li>
        تأمین تجهیزات و اجرای روشنایی محوطه ایستگاه پمپاژ شرکت کشت و صنعت میرزا
        کوچک خان (تهران)
      </li>
      <li>
        تأمین تجهیزات و اجرای نورپردازی نمای خارجی سالن اجتماعات امام صادق
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای نورپردازی مجتمع آموزشی تزکیه سعادت آباد
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای نورپردازی مجتمع تجاری میدان محمدیه (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای نورپردازی نمای ساختمان شهرداری مرکزی سنندج
      </li>
      <li>
        تأمین تجهیزات و اجرای روشنایی محوطه بیمارستان شفا یحیائیان (تهران)
      </li>
      <li>
        تأمین تجهیزات و اجرای نورپردازی نمای ساختمان ایوان شمس بزرگراه کردستان
        (تهران)
      </li>
      <li>
        تأمین تجهیزات و اجرای نورپردازی نمای ساختمان معاونت فرهنگی و اجتماعی
        شهرداری تهران
      </li>
      <li>تأمین تجهیزات نورپردازی و روشنایی مجتمع تجاری اکومال (کرج)</li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات نورپردازی و روشنایی گالری اعتماد
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات نورپردازی و روشنایی فروشگاههای
        زنجیره ای هفت (تهران)
      </li>
      <li>طراحی نورپردازی و روشنایی ساختمان رسپینا (گرگان)</li>
      <li>طراحی نورپردازی و روشنایی ساختمان برق منطقه ای خوزستان (اهواز)</li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات نورپردازی و روشنایی شهر فرش شماره2
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی پروژه فودکرت مجتمع تجاری
        صبا (تهران-کارگر جنوبی)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی ساختمان اداری شرکت تأمین
        سرمایه سپهر (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی دفتر مرکزی شرکت فولاد ارفع
        (تهران-خیابان آفریقا)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی دفتر مرکزی شرکت صنا اوج
        (تهران-خیابان ملاصدرا)
      </li>
      <li>طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی هایپر استار (تهران)</li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی اداره مرکزی بانک پارسیان
        (گروه ساختمانی بانک پارسیان) (تهران)
      </li>
      <li>طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی هتل نگین مشهد (مشهد)</li>
      <li>طراحینورپردازی شهرک مسکونی راژیا (قزوین)</li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی و نورپردازی کاخ آپادانا شوش
        (خوزستان)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی و نورپردازی ساختمان مسکونی
        پیروز مربوط به اساتید دانشگاه شهید بهشتی (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی مجموعه ورزشی شهدای نارمک
        (تهران)
      </li>
      <li>طراحی روشنایی مجموعه ورزشی آرارات (تهران)</li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی دفتر مرکزی شرکت هوشمند پارس
        واقع (تهران-خیابان آفریقا)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی پروژه شهربازی مجتمع تجاری
        صبا (تهران-کارگر جنوبی)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات روشنایی پروژه اداری و تجاری قدس
        (تهران-میدان قدس)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات هوشمند ساختمان اداری شرکت تامین
        سرمایه سپهر (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات هوشمند ساختمان اداری کرانه (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات هوشمند ساختمان مسکونی تاجیکی
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات هوشمند ساختمان مسکونی اقدسیه
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات هوشمند ساختمان مسکونی ثارالله
        (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات هوشمند ساختمان مسکونی سروستان
        جمشیدیه (تهران)
      </li>
      <li>
        طراحی، تأمین تجهیزات و اجرای تجهیزات هوشمند ساختمان مسکونی بینا (تهران)
      </li>
      <li>
        برگزاري نمايشگاه و كارگاه آموزشي كاربرد انرژيهاي نو در كاهش مصرف انرژي
        در شركت آب و فاضلاب شهري استان قم
      </li>
      <li>
        طراحي، تأمین تجهیزات و اجرای و راه اندازي سيستم کنترل هدایت تونلهای
        استان خراسان رضوی
      </li>
    </ul>
    <br />
  </DIV>
</my-content>
