<my-content placeholder="main">
    <DIV class="centrado">
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                مشخصات NRU-{{productDetails.product.productTitle}}
            </div>
            <div class="panel-body" *ngIf="productDetails!=null">
                <div class="row">
                    <app-spinner [show]="showProducts"></app-spinner>

                    <div class="col-sm-12">
                        <img class="img img-responsive"
                            src='../../assets/img/products/{{productDetails.product.productCategory.folderName}}/{{productDetails.product.productTitle}}/{{productDetails.picAddress}}'>
                    </div>
                </div>
                <hr>

                <div class="row row-detail">

                    <div class="col-sm-10 col-value">
                        {{productDetails.title}}
                    </div>
                    <div class="col-sm-2 col-title">
                        کاربرد
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.angle}}
                            </div>
                            <div class="col-sm-4 col-title">
                                زاویه تابش
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.temperature}}
                            </div>
                            <div class="col-sm-4 col-title">
                                محدوده دمای کارکرد
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.color}}
                            </div>
                            <div class="col-sm-4 col-title">
                                رنگ نور
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.degreeOfProtection}}
                            </div>
                            <div class="col-sm-4 col-title">
                                درجه حفاظت
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.longevity}}
                            </div>
                            <div class="col-sm-4 col-title">
                                طول عمر اسمی
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.bodyMaterial}}
                            </div>
                            <div class="col-sm-4 col-title">
                                جنس بدنه
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="row row-detail">

                            <div class="col-sm-8 col-value">
                                {{productDetails.typeTitle}}
                            </div>
                            <div class="col-sm-4 col-title">
                                نوع لامپ
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.brand}}
                            </div>
                            <div class="col-sm-4 col-title">
                                برند LED
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.qty}}
                            </div>
                            <div class="col-sm-4 col-title">
                                تعداد LED
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.power}}
                            </div>
                            <div class="col-sm-4 col-title">
                                توان نامی
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.opticalGain}}
                            </div>
                            <div class="col-sm-4 col-title">
                                بهره نوری
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.voltage}}
                            </div>
                            <div class="col-sm-4 col-title">
                                ولتاژ ورودی
                            </div>
                        </div>
                        <div class="row row-detail">
                            <div class="col-sm-8 col-value">
                                {{productDetails.dimensions}}
                            </div>
                            <div class="col-sm-4 col-title">
                                ابعاد
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <a
                        href="../../assets/img/products/{{productDetails.product.productCategory.folderName}}/{{productDetails.product.productTitle}}/{{productDetails.catalogName}}">
                        <img src="../../assets/img/pdf.png" />
                    </a>
                </div>
            </div>
        </div>
    </DIV>

</my-content>