<header class="navbar navbar-default">
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#navbar"
      aria-expanded="false"
      aria-controls="navbar"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a
      href=""
      title="نوین روشنا یوتاب"
      class="navbar-brand visible-xs col-xs-6 hidden"
      ><img
        src="../assets/img/content/logo-milan.png"
        alt="نوین روشنا یوتاب"
        class="logo hidden"
    /></a>
  </div>

  <div id="navbar" class="collapse navbar-collapse navbar-right">
    <div class="nav navbar-nav">
      <div id="div_header">
        <div class="centrado">
          <div id="div_menu">
            <div class="col1">
              <a href="" title="نوین روشنا یوتاب" class="hidden-xs hidden"
                ><img
                  src="../assets/img/content/logo-milan.png"
                  alt="نوین روشنا یوتاب"
              /></a>
            </div>
            <div class="col2">
              <form method="post" id="formBusc" name="formBusc" action="#">
                <input
                  name="search"
                  type="text"
                  id="search"
                  maxlength="80"
                  placeholder="جستجو محصول"
                />
                <input
                  name="Busc"
                  id="Busc"
                  type="image"
                  src="../assets/img/content/lupa.png"
                />
              </form>
            </div>
            <div class="clear"></div>
            <ul class="menu">
              <li>
                <a [routerLink]="['/home']">خانه</a
                ><span class="hidden-xs">|</span>
              </li>
              <li>
                <a [routerLink]="['/about']">درباره ما</a><span class="hidden-xs">|</span>
              </li>

              <li class="menu-item dropdown" style="float: none; margin: 0;">
                <a
                  href="#"
                  class="dropdown-toggle"
                  style="background-color: #fff;"
                  data-toggle="dropdown"
                  >محصولات </a
                ><span class="hidden-xs">|</span>
                <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >پروژکتورهای LED</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >چراغ های دفنی LED</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >چراغ های زیرآبی LED</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >چراغ های محوطه LED</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >چراغ های خطی LED</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >پنل های LED</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >چراغ های اضطراری</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >چراغ های ریلی</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >ریسه های نوری</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >محصولات آبنمای موزیکال</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >سیستمهای کنترلی
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="" title="پروژه های شرکت">پروژه های شرکت</a
                ><span class="hidden-xs">|</span>
              </li>
              <li class="menu-item dropdown" style="float: none; margin: 0;">
                <a
                  href="#"
                  class="dropdown-toggle"
                  style="background-color: #fff;"
                  data-toggle="dropdown"
                  >پژوهش ها و رویدادها </a
                ><span class="hidden-xs">|</span>
                <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href=""
                      >اخبار</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >مقالات</a
                    >
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a
                      class="dropdown-toggle"
                      style="background-color: #fff;"
                      data-toggle="dropdown"
                      href="#"
                      >دانلود ها</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a [routerLink]="['/contactus']" title="ارتباط با ما"
                  >ارتباط با ما</a
                ><span class="hidden-xs">|</span>
              </li>

              <li>
                <a href="#" title="سفارش محصول">سفارش محصول</a
                ><span class="hidden-xs">|</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- end centrado -->
      </div>
    </div>
  </div>
</header>
