<div class="jumbotron text-center img-fluid"
  style="margin-bottom: 0;background-image: url('../assets/img/background-header.jpg');height: 140px;padding: 2rem 2rem;">
  <div class="row">
    <div class="col-sm-1">
      <img src="../assets/img/logo2.png" />
    </div>
    <div class="col-sm-11" style="padding-top:20px;">
      <h1 style="color:white">نوین روشنا یوتاب</h1>

    </div>
  </div>

</div>
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample07">
    <ul class="navbar-nav mr-auto justify-content-center">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" dideo-checked="true">خانه <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" dideo-checked="true">درباره ما</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown07" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" dideo-checked="true">
          محصولات</a>
        <div class="dropdown-menu" aria-labelledby="dropdown07">
          <a class="dropdown-item" *ngFor="let item of categoryList" dideo-checked="true"
            [routerLink]="['/products', item.productCategoryId]" routerLinkActive="router-link-active">
            {{ item.productCategoryTitle }}</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" dideo-checked="true">پروژه ها</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" dideo-checked="true">پژوهش
          ها و رویدادها</a>
        <div class="dropdown-menu" aria-labelledby="dropdown07">
          <a class="dropdown-item" [routerLink]="['/news']" dideo-checked="true">اخبار</a>
          <a class="dropdown-item" href="#" dideo-checked="true">مقالات</a>
          <a class="dropdown-item" href="#" dideo-checked="true">دانلود ها</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" dideo-checked="true">سفارش محصول </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contactus']" dideo-checked="true">تماس با ما </a>
      </li>

    </ul>
    <form class="form-inline my-2 my-md-0">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="جستجو">
      </div>

    </form>

  </div>

</nav>