<my-content placeholder="main">
  <DIV class="centrado">
    <br />
    <div class="panel panel-default">
      <div class="panel-heading">
        محصولات
      </div>
      <div class="panel-body">
        <div class="row">
          <app-spinner [show]="showCategory"></app-spinner>
          <div class="col-md-2" *ngFor="let product of categoryList">
            <div class="thumbnail">
              <a [routerLink]="['/products', product.productCategoryId]">
                <img
                  src="../../assets/img/products/{{ product.folderName }}/{{
                    product.fileName
                  }}"
                  class="img-responsive img-rounded"
                  alt="Lights"
                  style="width: 100%;"
                />
                <div class="caption1" style="padding-top:9px">
                  <p>
                    {{ product.productCategoryTitle }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </DIV>
</my-content>
