<my-content placeholder="main">

  <div class="card" dir="rtl" style="text-align: right;padding: 10px;">
    <div class="card-header" id="headingOne">
      <h3 class="mb-0">

        محصولات

        </h3>
    </div>

    
      <div class="card-body">
        <div class="row " style="padding: 10px;margin: 10px;text-align: center;">
          <app-spinner [show]="showCategory"></app-spinner>
          <div class="col-sm-2 text-center card1" *ngFor="let product of categoryList">


            <a [routerLink]="['/products', product.productCategoryId]">

              <img src="../../assets/img/products/{{ product.folderName }}/{{
                          product.fileName
                        }}" class="img-fluid rounded" alt="Lights" style="width: 100%;" />

              <h4>
                {{ product.productCategoryTitle }}
              </h4>





            </a>
          </div>
        </div>
      </div>
    </div>
 



</my-content>