<footer>
  <div class="row row1">
    <div class="centrado">
      <div class="col-xs-6 column">
        <p class="title">
          اطلاعات
          <ul class="footerLink">
            <li>- <a [routerLink]="['/news']"   title="News">اخبار</a></li>
            <li>- <a [routerLink]="['/about']"   title="Company">درباره ما</a></li>
            <li>- <a [routerLink]="['/contactus']"   title="Contact">تماس با ما</a></li>
            <li>- <a href="#" title="Contact">نقشه سایت</a></li>
          </ul>
      </div>

      <div class="col-xs-6 column">
        <p class="title none">تماس با ما</p>
        <div class="adress5">

          تهران-
          خیابان بهار شمالی-
          کوچه هاله-
          پلاک 13 واحد 6
        </div>
        <br />
        <div class="phone1">

          موبایل: <span dir="ltr">+989198779646</span> , <span dir="ltr">+989195140523</span>
          <br />
          تلفن: <span dir="ltr">+982177659174</span>
          <br />
          ایمیل: <span dir="ltr">info@nrugroup.ir</span>
          <br />
          اینستاگرام: <span dir="ltr">utab.lighting</span>
          <br />
        </div>

      </div>
    </div>
  </div><!-- end row1 -->

  <!-- end row2 -->

</footer>
