<my-content placeholder="main">
  <DIV class="centrado">
    <div id="div_contacto">
      <h1>تماس با ما</h1>
      <div class="formulario">
        <h2 id="resposta">
          Your details have been sent successfully. <br />
          <span>They will be dealt with shortly. Thank you.</span>
        </h2>
        <form method="post"  class="row">
          <div class="columna_1 col-sm-6 col-md-6">
            <div class="direccion">
              تهران- خیابان بهار شمالی- کوچه هاله- پلاک 13 واحد 6<br />
              موبایل: <span dir="ltr">+989198779646</span> ,
              <span dir="ltr">+989195140523</span>
              <br />
              تلفن: <span dir="ltr">+982177659174</span>
              <br />
              ایمیل: <span dir="ltr">info@nrugroup.ir</span>
              <br />
              اینستاگرام: <span dir="ltr">utab.lighting</span>
            </div>
            <div class="dreta">
              <label>
                <input
                  name="name"
                  type="text"
                  id="firstName"
                  maxlength="50"
                  class="camp"
                  autocomplete="off"
                  placeholder="نام"
                  required

                />
              </label>
              <label>
                <input
                  name="lastName"
                  type="text"
                  id="lastName"
                  maxlength="50"
                  class="camp"
                  autocomplete="off"
                  placeholder="نام خانوادگی"
                  required

                />
              </label>
              <label>
                <input
                  name="email"
                  type="email"
                  id="Email"
                  maxlength="50"
                  class="camp"
                  autocomplete="off"
                  placeholder="ایمیل"
                  required

                />
              </label>
              <label>
                <input
                  name="phone"
                  type="text"
                  id="CellPhone"
                  maxlength="20"
                  class="camp"
                  autocomplete="off"
                  placeholder="موبایل"
                  required

                />
              </label>
            </div>
          </div>

          <div class="columna_2 col-sm-6 col-md-6">
            <textarea
              name="description"
              id="Comentaris"
              cols="10"
              rows="5"
              class="area"
              autocomplete="off"
              placeholder="پیام شما"
              required

            ></textarea>


            <input name="Send" type="submit" id="Send" value="ارسال" />
            <!-- <div
              class="g-recaptcha"
              data-sitekey="6LdVdOcUAAAAABb89DrKOYdHD_1z3xohI2dAIYGL"
            ></div> -->

            <div
              class="g-recaptcha"
              data-sitekey="6Le-UOkUAAAAAGk9_x0gpP6J2o1T4lP6y2uihuiX"
            ></div>
          </div>
        </form>
        <div class="clear"></div>
        <div class="loading">
          <img src="../../src/img/content/loading.gif" id="loading" />
        </div>
      </div>
      <iframe
        width="940"
        height="360"
        src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Carrer+Arqu%C3%ADmedes,+24,+Hospitalet+de+Llobregat&amp;aq=0&amp;oq=arquimedes+24,+hospi&amp;sll=41.692248,1.745868&amp;sspn=3.572456,8.289185&amp;ie=UTF8&amp;hq=&amp;hnear=Carrer+Arqu%C3%ADmedes,+24,+08907+L'Hospitalet+de+Llobregat,+Barcelona&amp;t=m&amp;ll=41.349173,2.095814&amp;spn=0.023196,0.080595&amp;z=14&amp;iwloc=A&amp;output=embed"
      ></iframe
      ><br /><small
        ><a
          href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Carrer+Arqu%C3%ADmedes,+24,+Hospitalet+de+Llobregat&amp;aq=0&amp;oq=arquimedes+24,+hospi&amp;sll=41.692248,1.745868&amp;sspn=3.572456,8.289185&amp;ie=UTF8&amp;hq=&amp;hnear=Carrer+Arqu%C3%ADmedes,+24,+08907+L'Hospitalet+de+Llobregat,+Barcelona&amp;t=m&amp;ll=41.349173,2.095814&amp;spn=0.023196,0.080595&amp;z=14&amp;iwloc=A"
          style="color: #0000ff; text-align: left;"
          dideo-checked="true"
        ></a
      ></small>
    </div>
  </DIV>
</my-content>
